.view-box {
	max-width: max-content;
	max-height: max-content;
	margin: 0;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
/*I shrunk the map so the receiving dispatcher needs to 
use the same css file*/
#dots {
	font-size: 0.7em;
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 960px;
	height: 539px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}

#orderList {
	top:1em;
	left:1em;
	position: absolute;
	z-index: 2;
	color:black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}

#customerInfo{
	font-size: 0.9em;
	font-style: italic;
}